* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

body {
    background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(hsl(0, 0%, 100%),hsl(0,100%,97%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 0;
}

.flex-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.flex-container .flex-item1 {
    box-sizing: border-box;
    margin: 65px auto;
    width: 31%;
}

.flex-container .flex-item2 {
    width: 42%;
}

.flex-container .flex-item1 .page-logo {
    margin: 0 0 135px 0
}

.flex-container .flex-item1 .hero-img-mob {
    display: none;
}

.flex-container .flex-item2 .hero-img{
    width: auto;
}

.flex-container .flex-item1 h1 {
    font-size: 64px;
    line-height: 71px;
    margin: 0 0;
}

.flex-container .flex-item1 h1 .heading1 {
    font-weight: 300;
    font-size: 64px;
    color: #CE9898;
    line-height: 71px;
}

.flex-container .flex-item1 p {
    font-size: 16px;
    color:#CE9898;
    line-height: 28px;
    margin: 32px 0 40px 0;
}

.flex-container .flex-item1 .overlay .email {
    width: 85%;
    padding: 19px 0 19px 32px;
    border-radius: 28px 0 0 28px;
    border: solid #CE9898;
    border-width: thin;
    color: #CE9898;
    box-sizing: border-box;
}

.flex-container .flex-item1 .overlay button {
    padding: 16px 45px;
    width: 7%;
    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    border-radius: 28px;
    border: none;
    position: absolute;
    margin: 0 -3%;
}

.flex-item2 img {
    width: 100%;
    float: left;
}

.flex-container .flex-item1 .overlay button:hover {
    cursor: pointer;
    background: #F8BFBF;
}

.email::placeholder {
    color: #CE9898;
}